/**
 * Style template
 */ 

h1, h3, h4 {
	text-align: center;
	font-family: arial;
}

body {
	text-align: center;
	font-family: 'Mada', sans-serif;
}

.kgraph-wrapper {
	display: inline-flex;
	flex-direction: column;
}

#canvas-wrapper {
	margin: 5px 0;
	display: inline-block;
	line-height: 0;
	border: solid 2px darkslategray;
	position: relative;
}

#canvas {
	cursor: url(images/brushes/4.png) 2 2, pointer;
}

#background {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: -1;
}

.flex-row {
	display: flex;
}

.flex-column {
	display: flex;
	flex-flow: column;
}

.flex-stretch {
	justify-content: space-between;
}

.flex-item-left {
	margin-right: 5px;
}

.color {
	width: 25px;
	height: 25px;
	cursor: pointer;
	border-radius: 5px;
}

#eraser {
	width: 23px;
	height: 23px;
	border: 1px solid red;
}

/* Buttons */

#buttons {
	font-size: .8em;
	margin-bottom: 5px;
}

/* Timeline */

#timeline-container {
	border: 2px solid darkslategray;
	width: 640px;
}

#layer-nav {
	list-style: none;
}

#timeline-inner {
	width: 550px;
	overflow: scroll;
}

.cel {
	cursor: pointer;
	width: 15px;
	height: 15px;
	border: 1px solid #333;
	margin-right: 1px;
	background-color: white;
	flex-shrink: 0;
	align-self: center;
	border-radius: 2px;
}

.timeline-row {
	margin: 5px;
}

.active {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

.add-cel {
	margin: 0 5px;
	align-self: center;
}

.add-cel a {
	text-decoration: none;
}










