/**
 * Style template
 */ 

h1, h3, h4 {
	text-align: center;
	font-family: arial;
}

body {
	text-align: center;
}

.kgraph-wrapper {
	display: inline-flex;
	flex-direction: column;
}

.canvas-wrapper {
	margin-bottom: 5px;
}

.canvas-background {
	display: inline-block;
	background: white;
	line-height: 1;
}

.thick-border {
	border: solid 2px darkslategray;
}

.thin-border {
	border: solid 1px darkslategray;
}

#canvas {
	cursor: url(images/brushes/4.png) 2 2, pointer;
}

.flex-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.color {
	width: 25px;
	height: 25px;
}

.color:hover {
	cursor: pointer;
}