/**
 * Style template
 */ 

h1, h3, h4 {
	text-align: center;
	font-family: arial;
}

.canvas-wrapper {
	text-align: center;
}

.canvas-background {
	display: inline-block;
	border: solid 2px darkslategray;
	background: white;
}

.palette {
	display: flex;
	justify-content: space-between;
	width: 640px;
	margin: 0 auto;
}

.color {
	width: 25px;
	height: 25px;
}

.color:hover {
	cursor: pointer;
}